 /* CSS rules to specify families 
 font-family: 'Honk', system-ui;
font-family: 'Lexend', sans-serif;
font-family: 'Signika Negative', sans-serif; */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Signika Negative', sans-serif;
    color: bisque;
    --colour-grey-50: #ccc;
    --colour-grey-100: #aaa;
    --colour-grey-200: #888;
    --colour-grey-300: #555;
    --colour-grey-400: #444;
    --colour-grey-500: #333;
    --colour-grey-600: #323;
    --colour-grey-700: #222;
    --colour-primary-50: khaki;
    --colour-primary-100: rgb(238, 193, 110);
    --colour-primary-200: orange;
    --colour-primary-400: darkorange;
    --colour-primary-500: rgb(255, 115, 0);
    --colour-primary-700: orangered;
    --colour-primary-200-contrast: darkred;
    --colour-primary-500-contrast: beige;
    --colour-error-100: goldenrod;
    --colour-error-500: red;
    --colour-primary-500-bg: black;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    --border-radius-sm: 4px;
    --border-radius-md: 6px;

    --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--colour-primary-500-bg);
    color: var(--colour-grey-50);
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--colour-primary-700);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--colour-primary-700);
    color: var(--colour-primary-500-contrast);
    border: none;
    border-radius: var(--border-radius-sm);
}

.btn:hover,
.btn:active {
    background-color: var(--colour-primary-500);  
}